<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="root">
    <button v-on:click="increase">increase</button>
    <button v-on:click="decrease">decrease</button>
    <p>{{ index }}</p>
  </div>

  <div id="root1">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>
  <div id="root2">
    <div v-bind:style="{ fontSize: postFontSize + 'em' }">
      <blog-spot
        v-for="item of list"
        v-bind:key="item.id"
        v-bind:post="item"
        v-on:zoom-text="onZoomText"
      ></blog-spot>
    </div>
  </div>

  <div id="root3">
    <p>Change text: {{ searchText }}</p>
    <input type="text" v-bind="searchText" v-on:input="searchText = $event.target.value">
    <custom-input
      v-model="searchText"
    ></custom-input>
  </div>
  <script src="./vue.js"></script>
  <script>
    new Vue({
      el: "#root",
      data: {
        index: 0
      },
      methods: {
        increase: function() {
          this.index = this.index + 1
        },
        decrease: function() {
          this.index = this.index - 1
        }
      }
    })

    Vue.component("button-counter", {
      data: function() {
        return {
          count: 0
        }
      },
      template: `<button v-on:click="count++">{{ count }}</button>`
    })

    Vue.component("blog-spot", {
      props: ["post"],
      template: `<div>
                  <h3>{{ post.title }}</h3>
                  <p v-html="post.content"></p>
                  <button v-on:click="$emit('zoom-text', 0.1)">zoom</button>
                </div>`
    })

    new Vue({ el: "#root1" })

    new Vue({
      el: "#root2",
      data: {
        list: [
          { id: 1, title: "title 1", content: "content 1" },
          { id: 2, title: "title 2", content: "content 2" },
          { id: 3, title: "title 3", content: "content 3" }
        ],
        postFontSize: 1
      },
      methods: {
        onZoomText: function(size) {
          this.postFontSize += size
        }
      }
    })

    Vue.component("custom-input", {
      props: ["value"],
      template: `
        <input
          v-bind:value="value"
          v-on:input="$emit('input', $event.target.value)"
        >
      `
    })

    new Vue({
      el: "#root3",
      data: {
        searchText: ""
      }
    })
  </script>
</body>
</html>